*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #152b13;
}
header h1 {
  color: white;
  font-size: 120px;
  text-align: center;
  font-family: 'Faster One', cursive;
  margin-top:10px;
}
header div#instructions {
  position: relative;
  font-size: 23px;
  text-align: center;
  color: white;
}
main {
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  h2 {
    color: white;
    font-size: 27px;
    position: relative;
  }
  div.container {
    color: white;
    position: absolute;
    margin: 0 auto;
    border: 3px solid #39FF14;
    width: 85%;
    left: 115px;
    height: 850px;
    background-image: url('http://cdn.wallpapersafari.com/31/73/h9LGbE.jpg');
    background-size: cover;
    button#play {
      left:480px;
      width: 20%;
      top: 40px;
      position: absolute;
      // styling of the button
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #39FF14;
      border: none;
      border-radius: 15px;
      box-shadow: 0 6px #999;
    }
    button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    h3#lives, h3#winCondition {
      position: absolute;
      right: 80px;
      font-size: 30px;
    }
    #lives {
      top: 70px;
    }
    div.options {
      position: relative;
      margin: 0 auto;
    }
    div.options h2{
      position:relative;
      left: 0px;
      top: 10px;
    }
    select#subject-options, select#difficulty-options {
      position: absolute;
      left: 200px;
      font-size: 13px;
    }
    select#subject-options{
      top: 18px;
    }
    select#difficulty-options{
      top: 70px;
    }
  }
  div.game-box {
    position: relative;
    color: white;
    top: 60px;
    width: 100%;
    height: 550px;
    background-color: black;
    border-top: 2px solid #39FF14;
    border-bottom: 2px solid #39FF14;
  }
  .anagram {
    position: absolute;
    top: -30px;
    font-size: 30px;
  }
  input {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 50%;
    bottom:28px;
    left: 25%;
    font-size: 40px;
    outline:none;
  }
  input[type=text]:focus {
    background-color: black;
    border: 3px solid #39FF14;
    color: white;
  }
}
@media only screen and (max-width: 1100px) {
  main, div.features, div.game-box, div.options {
    width: 75%;
  }
  .anagram {
    font-size:10px;
  }
    select#subject-options, select#difficulty-options {
      width: 15%;
    }

}
@media only screen and (max-width: 800px) {
  main, div.features, div.game-box, div.options {
    width: 50%;
  }
  .anagram {
    font-size: 5px;
  }
}
