*{
  box-sizing: border-box;
}
body {
background-color: black;
}
header {
  background-color: green;
}
header h1 {
  color: black;
  text-align: center;
}
main {
  margin: 0 auto;
  margin-top: 200px;

  div.features {
    margin: 0 auto;
    border: 3px solid red;
    width: 1200px;
    height: 800px;
    padding: 10px;
    background-color: white;

    div#instructions {
      float: right;
      margin-right: 70px;
    }
    input {
     margin: 0 auto;
      text-align: center;
      width: 50%;
      height: 50px;
      font-size: 40px;
    }
    div.options {
      display: inline-block;
      color: yellow;
      padding: 10px;
    }
      h3#lives {
        position: absolute;
        left: 550px;
        top: 320px;
      }
      h3#winCondition {
        position: absolute;
        left: 548px;
        top: 260px;
      }
  }
  div.ag-tetris {
    color: white;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 550px;
    background-color: black;
    overflow: hidden;
    font-family: 'Bungee Outline', cursive;
  }
  .anagram {
    position: absolute;
    top: -20px;
    font-size: 20px;
  }
  // .imageBBT {
  //   background: url('http://www.serienjunkies.de/big-bang-theory/big-bang-theory.jpg');
  //   background-size: cover;
  // }
  // .imageLOTR {
  //   background: url('http://www.serienjunkies.de/big-bang-theory/big-bang-theory.jpg');
  //   background-size: cover;
  // }
  // .imageASIA {
  //   background: url('http://www.serienjunkies.de/big-bang-theory/big-bang-theory.jpg');
  //   background-size: cover;
  // }
  // .imageEPL {
  //   background: url('http://www.serienjunkies.de/big-bang-theory/big-bang-theory.jpg');
  //   background-size: cover;
  // }
  // .imageWDI {
  //   background: url('http://www.serienjunkies.de/big-bang-theory/big-bang-theory.jpg');
  //   background-size: cover;
}
