*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #152b13;
}
header h1 {
  color: white;
  font-size: 120px;
  text-align: center;
  font-family: 'Faster One', cursive;
  margin-top:10px;
}
header div#instructions {
  position: relative;
  font-size: 23px;
  text-align: center;
  color: white;
}
main {
  margin: 0 auto;
  margin-top: 200px;
  h2 {
    color: white;
    font-size: 27px;
  }
  div.features {
    color: white;
    position: absolute;
    margin: 0 auto;
    border: 3px solid #39FF14;
    width: 80%;
    height: 850px;
    left: 150px;
    background-image: url('http://cdn.wallpapersafari.com/31/73/h9LGbE.jpg');
    background-size:cover;
    button#play {
      position: absolute;
      bottom: 25px;
      left:850px;
      font-size: 24px;
      padding: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #39FF14;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    input {
      position: absolute;
      margin: 0 auto;
      text-align: center;
      width: 50%;
      height: 50px;
      font-size: 40px;
      left: 172px;
      bottom: 25px;
      outline:none;
    }
    input[type=text]:focus {
      border: 3px solid #4CAF50;
    }
    .options h2 {
      padding-left: 280px;
    }
    select#subject-options, select#difficulty-options {
      position: relative;
      left: 480px;
      bottom: 48px;
    }

  h3#lives, h3#winCondition {
    position: absolute;
    left: 700px;
    top:  30px;
  }
  h3#winCondition {
    top: 100px;
  }
}
div.ag-tetris {
  position: relative;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 550px;
  background-color: black;
  border: 2px solid #39FF14;
}
.anagram {
  position: absolute;
  top: -30px;
  font-size: 30px;
}
}
footer {
  background-color:#00560e;
  position: absolute;
  width: 99.5%;
  height: 70px;
  bottom:-1100px;

 }
